.alert-info
  :markdown
    **Are you a recruiter** looking to fill an entry level software engineering
    or devops position? If you like the content of this blog and think I might
    be a good fit for your company, I'm graduating December 2016. Feel free to
    contact me at william+blog [at] [this domain].
